<title>{{ getenv('site_title') }} | {{ title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Custom -->
<link href="{{ base_url() }}/theme/material/css/custom.css" type="text/css" rel="stylesheet">
<link href="{{ base_url() }}/theme/material/css/sortable-theme-bootstrap.css" type="text/css" rel="stylesheet">

<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}/favicon.ico">

<!-- Fonts -->
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/theme/material/css/roboto.css">
<link rel="stylesheet" type="text/css" href="{{ base_url() }}/theme/material/css/MaterialIcons.css">

<!-- Bootstrap -->
<link href="{{ base_url() }}/theme/material/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base_url() }}/theme/material/css/bootstrap-material-design.css" rel="stylesheet">
<link href="{{ base_url() }}/theme/material/css/ripples.min.css" rel="stylesheet">

<!-- Dropdown.js -->
<link href="{{ base_url() }}/theme/material/css/jquery.dropdown.css" rel="stylesheet">

<!-- jQuery -->
<script src="{{ base_url() }}/theme/material/js/jquery.min.js"></script>