{% set uri = editable.uri %}

{% if editable.uri_param is not empty %}
    {% for searchingKey, searchingValue in arr %}
        {% if searchingKey == editable.uri_param %}
            {% set uri = uri ~ '/' ~ searchingValue %}
        {% endif %}
    {% endfor %}
{% endif %}


<form class="form-inline" method="{{ editable.uri_method }}" action="{{ uri }}">
    <div class="form-row align-items-center">
        <div class="col col-auto">
            {% if editable.type == 'checkbox' %}

                {% if item %}
                    <input type="hidden" name="{{ editable.key }}"
                           id="{{ editable.key }}" value="0"

                            {% if editable.readOnly is defined and editable.readOnly == true %}
                                readonly
                            {% endif %}
                    />
                    <input class="form-check-input" type="checkbox" name="{{ editable.key }}"
                           id="{{ editable.key }}" value="1" checked

                            {% if editable.readOnly is defined and editable.readOnly == true %}
                                readonly
                            {% endif %}
                    />
                {% else %}
                    <input type="hidden" name="{{ editable.key }}"
                           id="{{ editable.key }}" value="0"

                            {% if editable.readOnly is defined and editable.readOnly == true %}
                                readonly
                            {% endif %}

                    />
                    <input class="form-check-input" type="checkbox" name="{{ editable.key }}"
                           id="{{ editable.key }}" value="1"

                            {% if editable.readOnly is defined and editable.readOnly == true %}
                                readonly
                            {% endif %}
                    />
                {% endif %}
            {% elseif editable.type == 'select' %}
                <select class="form-control form-control-sm" name="{{ editable.key }}" id="{{ editable.key }}"
                        {% if editable.readOnly is defined and editable.readOnly == true %}
                            readonly
                        {% endif %}
                >

                    {% for k,v in editable.options %}
                        {% if v == item %}
                            <option value="{{ v }}" selected>{{ k }}</option>
                        {% else %}
                            <option value="{{ v }}">{{ k }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% else %}
                <input class="form-control form-control-sm" name="{{ editable.key }}" id="{{ editable.key }}"
                       type="{{ editable.type }}"
                        {% if editable.blank is defined and editable.blank == true %}
                        {% else %}
                            value="{{ item }}"
                        {% endif %}
                        {% if editable.readOnly is defined and editable.readOnly == true %}
                            readonly
                        {% endif %}
                />
            {% endif %}
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-sm" id="{{ 'form_' ~ editable.key }}"
                    type="submit">{{ editable.submit_label|raw }}</button>
        </div>
    </div>
</form>