<!DOCTYPE html>
<html>
<head>
    <title>{{ getenv('site_title') }} | {{ title }}</title>
    <!-- Meta -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- CSS & fonts -->
    <link rel="stylesheet" href="/theme/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme/bootstrap4/css/font-awesome.css">
    <link rel="stylesheet" href="/theme/bootstrap4/css/custom.css">

    <!-- JS -->
    <script src="/theme/bootstrap4/js/jquery.min.js"></script>
</head>
<body>

{% block modal %}
{% endblock %}

<!-- Navigation -->
{% include 'menu.twig' %}

<!-- Main content -->
<main role="main" class="container">
    <div class="mainContainer">
        <div class="container">
            {% if flash is not empty %}
                {% if flash.getMessage('info').0 %}
                    <div class="alert alert-dismissible alert-info" role="alert">
                        {{ flash.getMessage('info').0 }}
                        <button type='button' class='close' data-dismiss='alert'>×</button>
                    </div>
                {% endif %}

                {% if flash.getMessage('success').0 %}
                    <div class="alert alert-dismissible alert-success" role="alert">
                        {{ flash.getMessage('success').0 }}
                        <button type='button' class='close' data-dismiss='alert'>×</button>
                    </div>
                {% endif %}

                {% if flash.getMessage('error') %}
                    {% for error in flash.getMessage('error') %}
                        <div class="alert alert-dismissible alert-danger" role="alert">
                            {{ error }}
                            <button type='button' class='close' data-dismiss='alert'>×</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </div>
</main><!-- /.container -->

<!-- Footer -->
{% include 'about.twig' %}

<footer class="footer">
    <div class="text-center">
        <span class="text-muted">
            <i class="fa fa-copyright"></i> {{ "now"|date("Y") }} {{ getenv('site_title') }} |
            <a data-toggle="modal" data-target="#aboutModal"><i class="fa fa-question"></i></a>
        </span>
    </div>
</footer>

<!-- Script -->
<script src="/theme/bootstrap4/js/bootstrap.bundle.min.js"></script>

{% block js %}
{% endblock %}

</body>
</html>