<div class="table-responsive">
    <table class="table small sortable-bootstrap" data-sortable>
        <thead>
        <tr>
            <th>{% trans %}Cid{% endtrans %}</th>
            <th>{% trans %}Path{% endtrans %}</th>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Size{% endtrans %}</th>
            <th>{% trans %}Datetime{% endtrans %}</th>
            <!--<th>{% trans %}Type{% endtrans %}</th>-->
        </tr>
        </thead>
        <tbody>

        {% for file in data %}
                <tr>
                    <td>{{ file.cid }}</td>
                    <td>{{ file.path }}</td>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size|file }}</td>
                    <td>{{ file.datetime|timestamp }}</td>
                    <!--<td>{{ file.type }}</td>-->
                </tr>
        {% endfor %}

        </tbody>
    </table>
</div>