{% for form in fields %}

    <h3 class="header">{{ form.header_label }}</h3>
        {% set item = "#{form.uri}" %}

        {% if form.uri_param is not empty %}
            {% for searchingKey, searchingValue in arr %}
                {% if searchingKey == form.uri_param %}
                    {% set item = "#{form.uri}\/#{searchingValue}" %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <form class="form-horizontal" method="{{ form.uri_method }}" action="{{ item|raw }}">

            {% for field in form.fields %}
                <div class="form-group">
                    <label class="col-md-2 control-label" for="{{ field.key }}">{{ field.label }}</label>

                    <div class="col-md-10">
                        {% if field.type == 'select' %}

                            <select class="form-control" name="{{ field.key }}" id="{{ field.key }}">
                                {% for k,v in field.options %}
                                    <option class="form-control" value="{{ v }}">{{ k }}</option>
                                {% endfor %}
                            </select>

                        {% else %}
                            <input
                                    class="form-control"
                                    name="{{ field.key }}"
                                    id="{{ field.key }}"
                                    type="{{ field.type }}"/>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">{{ form.label|raw }}</button>
                    </div>
                </div>
            </div>
        </form>
{% endfor %}